Repository Zemanzo/web-marbles, pull requests merged in 2019-03, with the labels that each got.

#48 Basic marble finishing & round automation
  config.example.js
  public/config.js
  public/fonts/do-hyeon/do-hyeon-v8-latin-regular.woff2
  public/fonts/do-hyeon/license.txt
  public/fonts/share-tech-mono/license.txt
  public/fonts/share-tech-mono/share-tech-mono-v8-latin-regular.woff2
  public/scripts/chat/chat.js
  public/scripts/chat/discord-api-redirect.js
  public/scripts/client/client.js
  public/scripts/client/game.js
  public/scripts/client/networking.js
  public/styles/chat.css
  public/styles/client.css
  src/game.js
  src/network/socket-message-types.json
  src/network/sockets.js
  src/network/websocket-manager.js
  src/physics/marbles.js
  templates/chat.mustache
  templates/client.mustache
  web-marbles.js
  webpack.config.js
Labels: client, feature

#64 Patch/editor fixes
  src/client/editor/prefabs.js
  src/client/editor/world.js
Labels: bug, editor

#65 Reworked config file with user overriding properties
  .gitignore
  src/server/config.js
  src/server/config.user.example.js
Labels: improvement, server

#100 Feature/project serialisation
  public/styles/editor.css
  src/client/editor/editor.js
  src/client/editor/models.js
  src/client/editor/prefabs.js
  src/client/editor/project.js
  src/client/editor/serialize.worker.js
  src/client/editor/world.js
  templates/editor.mustache
Labels: editor, feature

#103 Improved package.json & updated dependencies
  README.md
  package.json
  src/server/game.js
  src/server/physics/manager.js
  yarn.lock
Labels: improvement, server
