Repository Zemanzo/web-marbles, pull requests merged in 2019-06, with the labels that each got.

#183 Client cleanup and small fixes
  src/client/client/client.js
  src/client/client/game.js
  src/client/client/hud-notification.js
  src/client/client/networking.js
  src/client/client/render.js
  src/client/editor/editor.js
  src/client/editor/models.js
  src/client/editor/prefabs.js
  src/client/editor/project.js
  src/client/editor/render.js
  src/client/editor/serialize.worker.js
  src/client/editor/world.js
  src/client/level-manager.js
  src/client/render/render-core.js
  src/level/level-data.js
  src/level/level-io.js
  src/server/levels/manager.js
  templates/editor.mustache
Labels: bug, client, editor, improvement

#188 Fixed shadows that vanished
  src/client/level-manager.js
Labels: bug, client

#192 Tracking camera
  public/styles/client.css
  src/client/client/client.js
  src/client/client/game.js
  src/client/editor/editor.js
  src/client/marble-manager.js
  src/client/render/cameras.js
  src/client/render/render-core.js
  templates/client.mustache
Labels: client, feature

#196 Marble name improvements
  src/client/marble-manager.js
Labels: client, improvement

#209 Toggle camera style
  .eslintrc.json
  public/styles/client.css
  src/client/client/client.js
  src/client/client/game.js
  src/client/editor/editor.js
  src/client/render/cameras.js
  src/client/render/render-core.js
  templates/client.mustache
  templates/partials/cameraControls.mustache
Labels: client, feature

#216 Marble skins
  public/resources/skins/abstract.png
  public/resources/skins/default.png
  public/resources/skins/desaturated.png
  public/resources/skins/earth.png
  public/resources/skins/eyeball.png
  public/resources/skins/marble.png
  public/resources/skins/moon.png
  public/resources/skins/oceans.png
  public/resources/skins/psychedelic.png
  public/resources/skins/squares.png
  public/resources/skins/sun.png
  public/resources/skins/swirly.png
  public/resources/skins/zemanzo.png
  public/styles/client.css
  src/client/client/game.js
  src/client/client/networking.js
  src/client/marble-manager.js
  src/server/chat/messages.js
  src/server/game.js
  src/server/skins.js
  src/web-marbles.js
Labels: client, feature, server

#223 Skins preview & minor improvements
  public/resources/skins/baseball.png
  public/resources/skins/beachball.png
  public/resources/skins/jeremiah.png
  public/resources/skins/pride.png
  public/resources/skins/safehouse.png
  public/styles/client.css
  public/styles/common.css
  public/styles/index.css
  public/styles/skins.css
  src/client/skins.js
  src/web-marbles.js
  templates/index.mustache
  templates/skins.mustache
  webpack.config.js
Labels: client, feature

#228 Fixed not being able to log out when deployed remotely
  src/client/chat/chat.js
  src/client/chat/discord-api-redirect.js
Labels: bug, client

#234 Fixes for crash and client not updating auth state
  src/client/chat/chat.js
  src/client/chat/discord-api-redirect.js
  src/client/client/game.js
  src/client/marble-manager.js
  src/client/user-state.js
  src/server/network/sockets.js
Labels: bug, client, server
