Repository Zemanzo/web-marbles, pull requests merged in 2019-04, with the labels that each got.

#107 Project tab
  public/styles/editor.css
  src/client/editor/models.js
  src/client/editor/project.js
  src/client/editor/world.js
  templates/editor.mustache
Labels: editor, feature, improvement

#124 Force the use of the lockfile during CI builds
  .travis.yml
  yarn.lock
Labels: improvement

#123 Level loading
  public/resources/maps/CombinatoryV3.mmb
  public/resources/models/cube.gltf
  public/styles/editor.css
  src/client/client/networking.js
  src/client/client/render.js
  src/client/editor/editor.js
  src/client/editor/world.js
  src/server/config.js
  src/server/game.js
  src/server/maps/manager.js
  src/server/model-import/obj-heightfield.js
  src/server/network/sockets.js
  src/server/physics/manager.js
  src/server/physics/map-builder.js
  src/server/physics/marbles.js
  src/server/physics/world.js
  src/web-marbles.js
  templates/editor.mustache
Labels: client, editor, server

#129 Editor transform fixes and changes
  src/client/editor/inspector.js
  src/client/editor/models.js
  src/client/editor/prefabs.js
  src/client/editor/world.js
  templates/editor.mustache
Labels: bug, editor, improvement

#142 Results screen
  README.md
  public/styles/client.css
  src/client/client/game.js
  src/client/client/hud-notification.js
  src/client/client/networking.js
  src/client/client/render.js
  src/client/editor/render.js
  src/server/config.js
  src/server/database/initializer.js
  src/server/database/personal-bests.js
  src/server/database/users.js
  src/server/game.js
  src/server/network/sockets.js
  src/web-marbles.js
  templates/client.mustache
  templates/editor.mustache
  templates/privacy.mustache
  templates/terms-and-conditions.mustache
Labels: client, editor, server

#146 git-rev-sync as optional dependency
  package.json
  src/web-marbles.js
  yarn.lock
Labels: server

#147 Fixed invalid default config example file values
  src/client/config.user.example.js
Labels: bug
