Repository Zemanzo/web-marbles, pull requests merged in 2021-09, with the labels that each got.

#295 Race logic refactor
  src/client/chat/discord-api-redirect.js
  src/client/client/game.js
  src/client/generate-tiny-uuid.js
  src/game-constants.json
  src/log.js
  src/physics/manager.js
  src/physics/world.js
  src/server/chat/commands-manager.js
  src/server/chat/commands.js
  src/server/chat/discord-manager.js
  src/server/database/users.js
  src/server/game.js
  src/server/levels/manager.js
  src/server/marble.js
  src/server/races/default-race.js
  src/server/races/marble.js
  src/server/races/race-entry.js
  src/web-marbles.js
Labels: bug, client, server, improvement

#301 Update Discord.js dependency to 12.5.3
  package.json
  yarn.lock
Labels: dependencies

#302 Improved logic for zooming the tracking camera using the mousewheel
  src/client/render/cameras.js
Labels: bug, client
